.label {
    -fx-font-size: 14px;
}

.separator {
    -fx-padding: 2 0 2 0;
}

/* spacing - current use in HBox*/
.standard-spacing {
    -fx-spacing: 2;
}

/* spacing - current use in VBox*/
.standard-vertical-spacing {
    -fx-spacing: 2;
}

.standard-padding {
    -fx-padding: 5;
}

.fa-icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 14px;
    -fx-fill: -fx-text-base-color;
}

/* message-label-styles */
.warning-message {
    -fx-text-fill: -qp-script-error-color;
    -fx-opacity:0.8;
    -fx-font-style: italic;
}
.standard-message {
    -fx-text-fill: -fx-text-base-color;
    -fx-opacity:0.6;
    -fx-font-style: italic;
}